
#summary {
    text-align: center;
    /*background-image: url("../../images/background.gif");*/
}

#news
{

}

#contact
{
}

footer
{
    border-top: 1px solid gray;
}

/* Game UI specific */
.templates
{
    display: none;
}

.state-pregame, .state-intro
{
    
}

.state-get-caption
{
    
}

.state-get-vote
{
    
}

.state-round-results
{
    
}
.state-game-results
{
    
}

.disqualified .caption
{
    text-decoration: line-through;
}

.disqualified .player-name:after
{
    content: " disqualified for not voting";
    color: red;
}
